* {
    box-sizing: border-box;
    -ms-user-select: none;
    /**
             * Для мозилы
             */
    -moz-user-select: none;
    /**
             * Для конкверора
             */
    -khtml-user-select: none;
    /**
             * Для Сафари и Хрома
             */
    -webkit-user-select: none;
    
  

}

::-webkit-scrollbar {
    width: 0;
  }

.otstup {
    margin-left: 50px;
}

.kolonka{
    position: relative;
}

.stril_l{
    display: flex;
    align-items: center;
}

.stril_ll{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 328px;
    height: 1160px;
}

.stril{
    width: 328px;
    height: 1145px;
    position:absolute; 
    left:84px;
    top:25px;
    z-index: 2;
}

body {
    width: 100%;
    margin: 0;
    overflow-x:hidden;
    background: rgba(21, 20, 20, 1);
    
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
}

.panel {
    position: fixed;
    width: 360px;
    height: 100vh;
    max-height: 1300px;
    background: rgba(28, 29, 29, 1);
    color: rgba(255, 255, 255, 1);
}

.aktive{
    color: rgba(195, 7, 154, 1);

}



.container_future{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 1395px;
}
.container_play_one{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 1395px;
}

.wee_more{
    position: absolute;
width: 236px;
height: 68px;
left: 1022px;
top: 2111px;

}

.end{
    position: absolute;
width: 1560px;
height: 344px;
left: 360px;
top: 2356px;

}

.end_text{
    position: absolute;
left: 21.92%;
right: 21.92%;
top: 37.21%;
bottom: 20.93%;

/* R20 */

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
text-align: center;

/* Вторичный текст */

color: #B6B6B6;

}

.socsoc{
    position: absolute;
    left:653px;
    top:269px;
    z-index: 2;
}

.soc_seti{

    margin:0 auto;
    display: flex;
    width: 255px;
    justify-content: space-between;
}

.container_play_two{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 1395px;
}

.play_pros{
    position: absolute;
width: 588px;
height: 59px;
left: 475px;
top: 1421px;

/* H1 */

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 59px;
/* identical to box height */


/* Белые детали */

color: #FFFFFF;

}

a {
    text-decoration: none;
    color: white;
}

.logo {
    margin-left: 55px;
    width: 250px;
    height: 234px;
    margin-top: 41px;
}

.rec7{
    position: absolute;
    z-index: -1;
    left: 0px;
}



.poloska {
    height: 1px;
    width: 260px;

    margin-top: 27px;
    background: rgb(255, 255, 255);

}

.geners_heat{
    width: 816px;
    height: 127px;
}

.name_nemenu {
    display: flex;
    align-items: center;
    margin-left: 18px;
    
}

.sdselect{
    width: 120px;
    height: 29px;
}

.sort_in_poisk{
    display: flex;
    justify-content: space-between;
    align-self:center;
    align-items: center;
    float: right;
    width: 305px;
    height: 29px;
}

.Sort_text{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;

color: #FFFFFF;

}

.block_generes{
    width: 100%;
    height: 2095px;
}

.selve_generes{
    display: flex;
    justify-content: space-between;
    align-self: center;
    align-items: center;
    height: 400px;
}

.genres_name{

/* H1 */

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 59px;
/* identical to box height */


/* Белые детали */

color: #FFFFFF;


}

.wert{
    width: 816px;
    height: 2325px;
    margin-left: 115px;
}

.pustota {
    width: 10px;
}

.headerr {
    height: 111px;
    background: rgba(21, 20, 20, 1);
    width: 1560px;
    margin-left: 360px;

    z-index: 99999999999;
}

.main_item {

}

.big_cont{
    display: flex;
    float: right;
    width: 1555px;
    justify-content: space-between;
}

.haha_popalsya{
    display: flex;
}

.smsmsmsm{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;

/* Белые детали */

color: #FFFFFF;
}

.sort_container{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 2074px;
}
.poisk {
    width: 752px;
    height: 67px;
    margin-left: 115px;
    margin-top: 22px;
    border-radius: 10px;
}

.img_search {
    position: absolute;
    margin-left: 140px;
    margin-top: 35px;
}

.most_prosm{
    margin-right: 50px;
}

.images_registr{
    width: 1026px;
    height: 504px;
    display: flex;
   align-items: center;
   justify-content: center;
}

.vib_gener{
    width: 495px;
    height: 275px;
}

.dart{
    position: relative;
}

.fv{
    color: #FFFFFF;
}

.fv:focus{
    color: #C3079A;
}

.container_type{
    display: flex;
    justify-content: space-between;
    width: 456px;
    margin-left: 24px;
    margin-top: 13px;
    
}

.th{
    display: none;
    opacity: 0;
    display: block;
    transition: all 0.3s ease;
}




select{
    outline: none;
    background-color: #1C1D1D;
    color: #737171;
    border: none;
    border-radius: 5%;
}

select:active, select:focus{
    outline:none;
    border: none;
  }

.container_container1{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    width: 149px;
    height: 249px;
}

.container_container2{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    width: 150px;
    height: 249px;

}

.container_container3{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    width: 93px;
    height: 249px;

}

.yhyh{
    height: 64px;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
color: #FFFFFF;
}

.gener_type{
    position:absolute;
    left:0px;
    top:0px;
    z-index: 2;
}

.ganr{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    background-color: transparent;
}

.Sorry_login{
    position: absolute;
    width: 419px;
    height: 320px;
    left: 932px;
    top: 230px;
}

.logo_registr{
    width: 518px;
    height: 485px;

}

.checkbox_parol{
    display: flex;
    align-items: center;
}

.text_registr_dva{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
/* identical to box height */


/* Белые детали */

color: #FFFFFF;

}

.container_place_registr{
    width: 1026px;
    height: 161px;
}

.text_registr{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 44px;
/* identical to box height */


color: #FFFFFF;

}

.register_container{
    width: 1026px;
    height: 1376px;
    margin: 0 auto;
}

.onst{
    position: fixed;
    left: 360px;
    z-index: 99999;
}

.search input[type=text] {
    padding-left: 81px;
    color: rgba(28, 29, 29, 1);
    font-size: 24px;
    line-height: 29px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
}

.search{
    display: flex;
    justify-content: space-around;
}

.serch_panel{
    margin-top: 30px;
    display: flex;
    justify-content:space-between;
    width: 164px;
    height: 50px;
    align-items: center;
    align-content: center;
}

.korona{
    width: 38px;
height: 38px;
display: flex;
align-items: center;
justify-content: center;
}

.woth_osn{
    position: absolute;
width: 218px;
height: 49px;
left: 498px;
top: 689px;
}

.plus_osn{
    position: absolute;
width: 49px;
height: 49px;
left: 728px;
top: 689px;

}

.naviga_osn{
    position: absolute;
width: 120px;
height: 16px;
left: 1710px;
top: 729px;

}

.next{
    display: block;
    position: absolute;
width: 68px;
height: 68px;
left: 1752px;
top: 415px;
}


.profil{
    width: 50px;
height: 50px;
}

.osn_cont{
 
}

.main_name_inf{
    position: absolute;
    width: 1395px;
    height: 641px;
    left: 475px;
    top: 128px;
    border-radius: 5px;
}

.img_play{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 494px;
    top: 370px;
}

.img_clock{
    position: absolute;
    left: 577px;
    top: 368px;

}

.mini_inf_name{
    position: absolute;
    width: 43px;
    height: 15px;
    left: 521px;
    top: 372px;

    /* R11 */

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */


    /* Белые детали */

    color: #FFFFFF;
}

.mini_inf_weight{
    position: absolute;
    width: 66px;
    height: 15px;
    left: 607px;
    top: 372px;

    /* R11 */

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    
    /* Белые детали */

    color: #FFFFFF;
}

.mini_inf_data{
    position: absolute;
    width: 84px;
    height: 15px;
    left: 716px;
    top: 372px;

    /* R11 */
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */


    /* Белые детали */

    color: #FFFFFF;
}

.img_date{
    position: absolute;
    Top:366px;
    Left: 686px;
}
.fututure{
    position: absolute;
    width: 322px;
    height: 59px;
    left: 475px;
    top: 852px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    /* identical to box height */
    
    
    color: #FFFFFF;
    

}
input.poisk::placeholder {
    color: rgba(28, 29, 29, 1);
    font-size: 24px;
    line-height: 29px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
}

input, input:active, input:focus {
    outline: none;
    border: none;
}

.endend{
    position: relative;
}

.Name_mane{
    position: absolute;
    width: 373px;
    height: 59px;
    left: 494px;
    top: 251px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    color: #FFFFFF;
}

.text_mane{
    position: absolute;
    width: 595px;
    height: 228px;
    left: 494px;
    top: 422px;

    /* H4 */

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: white;
}

.seezon{
    position: absolute;
width: 95px;
height: 29px;
left: 494px;
top: 322px;

/* H2 */

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;

/* Белые детали */

color: #FFFFFF;
}