{% extends 'main/homeless_god/layout.html' %}
{% load static %}


{% block content1 %}
Бездомный бог | сезон 1 | серия 10
{% endblock %}
{% block content2 %}
    <div class="series_slyder_div"><a href="{% url 'homeless_god_season_1_episode_9' %}"><img src="{% static 'main/images/pryamoyg_series.png' %}" alt=""><h4><div class="series_slyder_div_name"><div class="hhhnhhh">&lt; 9 серия</div></div></h4></a></div>
{% endblock %}
{% block content3 %}
<div class="series_slyder_div"><a href="{% url 'homeless_god_season_1_episode_11' %}"><img src="{% static 'main/images/pryamoyg_series.png' %}" alt=""><h4><div class="series_slyder_div_name"><div class="hhhnhhh">серия 11 &gt;</div></div></h4></a></div>
{% endblock %}


