{% extends 'main/homeless_god/layout.html' %}
{% load static %}


{% block content1 %}
Бездомный бог | сезон 1 | серия 6
{% endblock %}
{% block content2 %}
    <div class="series_slyder_div"><a href="{% url 'homeless_god_season_1_episode_5' %}"><img src="{% static 'main/images/pryamoyg_series.png' %}" alt=""><h4><div class="series_slyder_div_name"><div class="hhhnhhh">&lt; 5 серия</div></div></h4></a></div>
{% endblock %}
{% block content3 %}
<div class="series_slyder_div"><a href="{% url 'homeless_god_season_1_episode_7' %}"><img src="{% static 'main/images/pryamoyg_series.png' %}" alt=""><h4><div class="series_slyder_div_name"><div class="hhhnhhh">серия 7 &gt;</div></div></h4></a></div>
{% endblock %}


