{% extends 'main/dororo/layout.html' %}
{% load static %}


{% block content1 %}
Дороро | серия 8
{% endblock %}

{% block content2 %}
    <div class="series_slyder_div"><a href="{% url 'dororo_episode_7' %}"><img src="{% static 'main/images/pryamoyg_series.png' %}" alt=""><h4><div class="series_slyder_div_name"><div class="hhhnhhh">&lt; 7 серия</div></div></h4></a></div>
{% endblock %}

{% block content3 %}
    <div class="series_slyder_div"><a href="{% url 'dororo_episode_9' %}"><img src="{% static 'main/images/pryamoyg_series.png' %}" alt=""><h4><div class="series_slyder_div_name"><div class="hhhnhhh">9 серия &gt;</div></div></h4></a></div>
{% endblock %}







