* {
    box-sizing: border-box;
    -ms-user-select: none;
    /**
             * Для мозилы
             */
    -moz-user-select: none;
    /**
             * Для конкверора
             */
    -khtml-user-select: none;
    /**
             * Для Сафари и Хрома
             */
    -webkit-user-select: none;

}

.otstup {
    margin-left: 50px;
}

body {
    margin: 0;
    background: rgba(26, 26, 29, 1);
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
}

.panel {
    position: fixed;
    width: 360px;
    height: 100vh;
    max-height: 1300px;
    background: rgba(28, 29, 29, 1);
    color: rgba(255, 255, 255, 1);
}

.aktive{
    color: rgba(195, 7, 154, 1);

}



.container_future{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    background-color: #FFFFFF;
}


a {
    text-decoration: none;
    color: white;
}

.logo {
    margin-left: 55px;
    width: 250px;
    height: 234px;
    margin-top: 41px;
}

.rec7{
    position: absolute;
    z-index: -1;
    left: 0px;
}

.poloska {
    height: 1px;
    width: 260px;

    margin-top: 27px;
    background: rgb(255, 255, 255);

}

.name_nemenu {
    display: flex;
    align-items: center;
    margin-left: 18px;
    
}



.pustota {
    width: 10px;
}

.headerr {
    height: 111px;
    background: rgba(21, 20, 20, 1);
    width: 1560px;
    margin-left: 360px;

    z-index: 99999999999;
}

.main_item {}


.poisk {
    width: 752px;
    height: 67px;
    margin-left: 115px;
    margin-top: 22px;
    border-radius: 10px;
}

.img_search {
    position: absolute;
    margin-left: 140px;
    margin-top: 35px;
}

.onst{
    position: fixed;
    left: 360px;
}

.search input[type=text] {
    padding-left: 81px;
    color: rgba(28, 29, 29, 1);
    font-size: 24px;
    line-height: 29px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
}

.osn_cont{
 
}

.main_name_inf{
    position: absolute;
width: 1395px;
height: 641px;
left: 475px;
top: 128px;


border-radius: 5px;
}

.img_play{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 494px;
    top: 370px;
}

.img_clock{
    position: absolute;
    left: 577px;
    top: 368px;

}

.mini_inf_name{
    position: absolute;
    width: 43px;
    height: 15px;
    left: 521px;
    top: 372px;

    /* R11 */

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */


    /* Белые детали */

    color: #FFFFFF;
}

.mini_inf_weight{
    position: absolute;
    width: 66px;
    height: 15px;
    left: 607px;
    top: 372px;

    /* R11 */

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    
    /* Белые детали */

    color: #FFFFFF;
}

.mini_inf_data{
    position: absolute;
    width: 84px;
    height: 15px;
    left: 716px;
    top: 372px;

    /* R11 */
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */


    /* Белые детали */

    color: #FFFFFF;
}

.img_date{
    position: absolute;
    Top:366px;
    Left: 686px;
}
.fututure{
    position: absolute;
    width: 322px;
    height: 59px;
    left: 475px;
    top: 852px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    /* identical to box height */
    
    
    color: #FFFFFF;
    

}
input.poisk::placeholder {
    color: rgba(28, 29, 29, 1);
    font-size: 24px;
    line-height: 29px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
}

input, input:active, input:focus {
    outline: none;
    border: none;
}

.Name_mane{
    position: absolute;
width: 373px;
height: 59px;
left: 494px;
top: 251px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 59px;
color: #FFFFFF;
}

.text_mane{
    position: absolute;
    width: 595px;
    height: 228px;
    left: 494px;
    top: 422px;

    /* H4 */

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: white;
}

.seezon{
    position: absolute;
width: 95px;
height: 29px;
left: 494px;
top: 322px;

/* H2 */

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;

/* Белые детали */

color: #FFFFFF;
}